.about-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  color: white;
  padding: 20px; /* Added padding for spacing */
}

.fireworks-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.about-content {
  max-width: 800px;
  width: 100%; /* Added width for responsiveness */
  position: relative;
  z-index: 1;
}

.about-heading {
  font-size: 2rem;
  margin-bottom: 10px;
  font-family: 'Times New Roman', Times, serif;
}

.about-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
}

ul {
  list-style-type: none !important;
  padding: 0;
  background-color: transparent !important;
}

.contact {
  background-color: white;
  padding: 10px; /* Added padding for spacing */
  margin-top: 20px; /* Added margin for spacing */
}

.contact_content {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}

li {
  font-size: 18px;
  color: #4f4cf4 !important;
  font-family: Arial, sans-serif;
  margin-bottom: 10px;
}

.about-info {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #4f4cf4;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width: 768px) {
  .about-heading {
    font-size: 1.5rem;
  }

  .about-info {
    font-size: 0.9rem;
  }
}
