
.about-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  color: white;
}

.fireworks-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.about-content {
  max-width: 800px;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.about-heading {
  font-size: 2rem;
  margin-bottom: 10px;
  font-family: 'Times New Roman', Times, serif;
}

.about-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.about-info {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #4f4cf4;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width: 768px) {
  .about-heading {
    font-size: 1.5rem;
  }

  .about-info {
    font-size: 0.9rem;
  }
}

.instagram-icon {
  color: #bc2a8d; 
}

.instagram-link {
  text-decoration: none;
}
