.first-page-container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; /* Align content center horizontally */
}

.main-image {
  max-width: 80vw; 
  max-height: 80vh;
  width: auto; /* Maintain aspect ratio */
  height: auto; /* Maintain aspect ratio */
}

.button-container {
  padding: 5px;
  margin: 5px;
}
