.padding_top{
    margin: 10px;
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.page_image {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-body {
    background: linear-gradient(to right, #babe07, #df841b);

  }
  
  